*
!.gitignore
!docs/
!docs/**
!do_test.py
!Makefile
!src/
!src/**
!std/
!std/**
!examples/
!examples/**
!tests/
!tests/**
!tests2/
!tests2/**
!third_party/
!third_party/**
!editors/
!editors/**
!todo.txt
!README.md
!LICENSE



