name: Tests
run-name: Run Name
on: [push]
jobs:
  Linux-Clang:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      # TODO: use apt-get instead of apt for better stability
      - run: sudo apt update 
      - run: sudo apt install clang-20 python3 mypy
      - run: mypy do_test.py
      - run: python3 do_test.py --test --path-c-compiler=clang-20 --makefile-cc-compiler=clang-20 --makefile-werror-all=1

  Windows-Clang:
    runs-on: windows-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: thing 2
        run: winget install python3.12 --accept-source-agreements --disable-interactivity --accept-package-agreements

      - name: thing 3
        run: py -3.12 --version

      - name: thing 4
        run: py -3.12 -m venv .venv

      - name: thing 5
        run: .\.venv\scripts\activate

      - name: thing 6
        run: .\.venv\scripts\python3 --version

      - name: thing 7
        run: .\.venv\scripts\python3 do_test.py --test --path-c-compiler=clang --makefile-cc-compiler=clang
